<h1 class='text-center mt-5'>Articles</h1>
<div class="container m-3 p-5">
  <% @articles.each do |article| %>
    <article class='mb-3 p-3'>
      <h3><%= link_to article.title, article %></h3>
      <%= article.content[0..100] %>
    </article>
  <% end %>
  <div class='mt-4'>
    <%= link_to 'Create an Article', new_article_path, class: 'btn btn-primary btn-lg'%>
    </div>
</div>
